@charset "UTF-8";
a {
    text-decoration: none;
    color: black;
}
li {
    list-style: none;
}


.desktop_nav
{
    display: none;
}

.account img
{
    max-width: 1.5rem;
}











@media screen and (min-width: 460px)
{

    .mobile_nav
    {
        width: 100%;
    }

    .mobile_nav ul li a img
    {
        width: 90%;
    }

    .mobile_nav ul li a:first-child
    {
        width: 60%;
        float: left;
        padding-top: 0.5%;
    }
    .burger
    {
        position: absolute;
        top: 20px;
        right: 40px;
        font-size: 10px;
    }
    .burger img {
        width: 2.5rem;
    }

    .account
    {
        width: 30%;
        float: left;
    }

    .account img
    {
        padding: 0 7%;
    }

    .block
    {
        width: 40%;
        float: left;
        text-align: right;
    }

    .link_desktop
    {
        display: none;
    }
}


@media screen and (min-width: 768px)
{

    /*
            NAV_BAR_DESKTOP
     */


    .mobile_nav ul li img
    {
        width: 20em;
    }

    .mobile_nav ul li a:first-child
    {
        width: 20%;
    }

    .link_desktop li a:first-child
    {
        width: 20%;
    }

    .link_desktop
    {
        display: block;
        text-align: center;
        font-family: Oswald, sans-serif;
    }

    .account
    {
        width: 10%;
        margin-left: 11%;

    }
    .burger img
    {
        display: none;
    }


}